<h1 class="page-header text-center">www.survey.com</h1>

<div class="col-sm-8 col-sm-offset-2">
  <h3>Take a Survey...</h3>

  <br>
  <ul>
  <% if @surveys.any?() %>
    <% @surveys.each() do |survey| %>
      <li><a href="/surveys/<%= survey.id() %>"><%= survey.title() %></a></li>
    <% end %>
  <% else %>
  <p>There are no surveys, yet.</p>
  <% end %>
  </ul>

  <br>
  <a class="btn btn-default" href="/surveys/new" role='button'>Create a Survey</a>
</div>
