
<% if @user %>
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Take a Survey...</h3>
    <br>
    <ul>
    <% if @surveys.any?() %>
      <% @surveys.each() do |survey| %>
        <li><a href="/user/surveys/<%= survey.id() %>"><%= survey.title() %></a></li>
      <% end %>
    <% else %>
    <p>There are no surveys, yet.</p>
    <% end %>
    </ul>
  </div>

<% else %>

  <div class="col-sm-8 col-sm-offset-2">
    <h3>Edit a Survey...</h3>
    <br>
    <ul>
      <% if @surveys.any?() %>
      <% @surveys.each() do |survey| %>
      <li><a href="/admin/surveys/<%= survey.id() %>/edit"><%= survey.title() %></a></li>
      <% end %>
      <% else %>
      <p>There are no surveys, yet.</p>
      <% end %>
    </ul>
    <br>
    <a class="btn btn-default" href="/admin/surveys/new" role='button'>Create a Survey</a>
  </div>
<% end %>
