<form action='/admin/surveys' method='post'>
  <div class='form-group'>
    <label for='title'>Enter in the title of your survey</label>
    <input id='title' name='title' type='text'>
  </div>
  <button type='submit'>Submit</button>
</form>
