
<h1><%= @survey.title %></h1>
<ul>
<% if @questions.any?() %>
  <% @questions.each() do |question|%>
    <li><%= question.description %></li>
  <% end %>
<% else %>
  <p>There are no questions, yet.</p>
<% end %>
</ul>

<h3>Add Questions to <%= @survey.title %></h3>

<form action='/surveys/<%= @survey.id %>' method='post'>
  <div class='form-group'>
    <label for='description'>Enter a Question:</label>
    <input id='description' name='description' type='text'>
  </div>
  <button class='btn-default'>Submit</button>
</form>
