
<h3><%= @survey.title %></h3>

<ol>
<% @survey.questions().each() do |question| %>
  <li><a href='/user/surveys/<%= @survey.id %>/questions/<%= question.id %>'><%= question.description %></a></li>
<% end %>
</ol>
